cloud_id = "ghjfghjfdghj"
folder_id = "ghfdjfghj"
zone = "ru-central1-a"
image_id = "gfhjfdghjhnmbnm"
public_key_path = "werefg"
subnet_id = "dfgjfghjghj"
service_account_key_file = "fdghghkyuty"
private_key = "dfgdfgdfg"
